{% extends 'base_layout.html' %}
{% load static %}



{% block page_title %}Components Items{% endblock %}

{% block js_filename %}student_dash/js/inv_items.js{% endblock %}

{% block page_content %}

<a href="{% url 'dash:inventory_page' %}" class="btn btn-secondary" style="margin-bottom: 15px;">←
    Back to
    Categories</a>


<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; padding: 20px;">
  <h3 style="margin: 0;">Components in {{ category_name }}</h3>



    <input type="text" id="searchInput" placeholder="Search component..."
           onkeyup="filterComponents()" 
           style="width: 300px; padding: 8px;">
  </div>
</div>

<!-- Components List -->
<div id="componentList" style="width: 95%; margin: auto;">
  {% for item in components %}
    <div class="component-item"
         data-name="{{ item.name|lower }}"
         style="display: flex; align-items: center; justify-content: space-between; padding: 10px; border: 1px solid #ccc; margin-bottom: 10px; border-radius: 8px;">
      <div style="flex: 2;"><strong>{{ item.name }}</strong></div>
      <div style="flex: 1;">Available: {{ item.quantity }}    Status : {{item.componentstatus}}</div>
<!--        <button type="submit"-->
<!--                    style="background-color: red; color: white; border: none; padding: 5px 10px; border-radius: 4px; cursor: pointer;">-->
<!--                change entity-->
<!--        </button>-->
        <form action="{% url 'dash:deletecomp' %}" method="post" style="margin: 0;">
            {% csrf_token %}
            <input type="hidden" name="comp_name" value="{{ item.name }}">
            <input type="hidden" name="comp_category" value="{{ category_name }}">

        <button type="submit"
                style="background-color: red; color: white; border: none; padding: 5px 10px; border-radius: 4px; cursor: pointer;">
                Delete
        </button>
        </form>

    </div>

  {% endfor %}
</div>

<!-- No Match Message -->
<div id="noResult" style="text-align:center; display:none; color:gray; margin-top: 20px;">
  No matching components found.
</div>
{% endblock %}
