/*
.admin-cards {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.admin-card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  flex: 1;
  min-width: 150px;
  text-align: center;
}

.admin-card h3 {
  color: #002855;
  margin-bottom: 0.5rem;
}

.request-section {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.8rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #002855;
  color: white;
}
*/

.approve-btn {
  background-color: #28a745;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
}

.decline-btn {
  background-color: #dc3545;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
}

/* Make sidebar links always white */
/*
.sidebar a,
.sidebar a:visited,
.sidebar a:active,
.sidebar a:focus {
  color: white;
  text-decoration: none;
}
*/

/* Optional: add hover effect */
/*
.sidebar a:hover {
  color: #ffcc00; /* or any color you want on hover */
}
*/


/* last mein add kiya as table load nhi ho rhi thi*/
.section-title {
    font-size: 1.4rem;
    margin: 30px 0 15px;
    border-left: 6px solid #6c63ff;
    padding-left: 12px;
    color: #2c3e50;
}



