/*ALL tags are written in order in which they appear in login.html*/
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f2f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/*LOGo image*/
.logo-container{
text-align: center;
margin-bottom: 20px;
 margin-right: 25px;
}

.logo-img{
    width: 80px;
    height: auto;
    margin-left: 12px;
}


/*IOT lab POrtal*/
.test-header{
  background-color: rgb(28, 36, 43);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;

}

/*NOW nwxt below container */
.auth-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  margin-bottom: 90px;

}

/*form-section holds login form plus messages class*/
/*iske pehle message container which is loaded in different file*/

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/*for input fields(including select) in forms of both login and signup */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="file"],
select{
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

/*LOGIN/REGISTER button*/
button[type="submit"] {
  background:  #09A3A3;
  color: white;
  padding: 0.7rem;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  /* transition: background 0.3s ease; */
}

button[type="submit"]:hover {
  background: #0097a7;
}

/* FOR changing links  */
.switch-link {
  font-size: 0.9rem;
  color: #0b3d91;
  cursor: pointer;
  text-align: center;
}

.hidden {
  display: none;
}


/*i don't know why this is here*/
/*
.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tab-buttons button {
  padding: 0.6rem 1.2rem;
  background: #09A3A3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
*/