body {
  font-family: 'Segoe UI', sans-serif;
  background: #f2f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.auth-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  margin-bottom: 90px;

}

.auth-container h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #0b3d91;

}

.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tab-buttons button {
  padding: 0.6rem 1.2rem;
  background: #09A3A3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-section {
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

form h2 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="file"] {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button[type="submit"] {
  background:  #09A3A3;
  color: white;
  padding: 0.7rem;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  /* transition: background 0.3s ease; */
}

button[type="submit"]:hover {
  background: #0097a7;
}

.switch-link {
  font-size: 0.9rem;
  color: #0b3d91;
  cursor: pointer;
  text-align: center;
}

.hidden {
  display: none;
}
.error-message {
  color: rgb(249, 2, 2);
  font-weight: bold;
  margin-bottom: 0.75em;
  font-size: 1.2em;
  display: block;
}

.message-container {
  margin-bottom: 15px;
}
.test-header{
  background-color: rgb(28, 36, 43);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;

}
