* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6fa;
  color: #333;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

/*iske baad mein doosri file mein hai*/



/*added at last from admin_Dashboard.css*/
/*
.approve-btn {
  background-color: #28a745;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
}

.decline-btn {
  background-color: #dc3545;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
}

*/