{% extends 'final/base_layout.html' %}

{% load static %}

{% block extra_css_files %}
<link rel="stylesheet" href="{% static 'final/css/student_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'final/css/issued_items.css' %}">
{% endblock %}

{% block page_title %}Components Items{% endblock %}

{% block extra_js_files %}<script src="{% static 'final/js/listcomponent_bycategory.js' %}"></script>{% endblock %}

{% block page_content %}
<div class="dashboard-container">

    <aside class="sidebar">
      <h2>IoT Lab</h2>
      <ul>
          <li><a href="{% url 'final:student_dashboard' %}">Back to dashboard</a></li>
        <li><a href="{% url 'final:issued_items' %}">Issued Items</a></li>
        <li><a href="{% url 'final:request_components' %}">Request Components</a></li>
        <li><a href="{% url 'final:student_logout' %}">Logout</a></li>
      </ul>
    </aside>

  <main class="main-content">
    <section>

      <div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:20px;">
        <input type="text" id="searchInput" placeholder="Search component..."
               onkeyup="filterComponents()"
               style="width:300px; padding:8px;">
      </div>


      {% if components %}
      <table border="1" cellspacing="0" cellpadding="8" style="width:100%;">
        <thead>
          <tr>
            <th>{{ category_name }}</th>
            <th>Available</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          {% for item in components %}
          <tr>
            <td>{{ item.comp_name }}</td>
            <td>{{ item.comp_quantity_available }}</td>
            <td>
      <div style="flex: 0.5;" id="control-{{ item.id }}">
        {% if item.comp_quantity_available > 0 %}
           <button
                   onclick="startQuantityControl({{ item.id }}, {{ item.comp_quantity_available }}, '{{ item.comp_name|escapejs }}')">Add</button>
        {% else %}
          <button disabled>Out of Stock</button>
        {% endif %}
      </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
        <p class="empty">No matching components found.</p>
      {% endif %}

    </section>
  </main>
</div>

{% endblock %}


