{% extends 'base_layout.html' %}
{% load static %}

{% block css_filename %}base/login_page.css{% endblock %}

<!--title  of webpage-->
{% block page_title %}Login user{% endblock %}

<!--isko neeche body wale mein likhoge to webpage mein directory dikhegi
isliye yhi likho-->
{% block js_filename %}base/js/loginform_toggle.js{% endblock %}


<!-- <body> -->
{% block page_content %}
  <div class="logo-container" style="text-align: center; margin-bottom: 20px; margin-right: 25px;">
    <a href="/">
        <img src="{% static 'base/images/skitlogo.png' %}" alt="Logo" style="width: 80px;height: auto;">
    </a>
  </div>

  <div class="test-header">
    <h1>IoT Lab Portal</h1>
  </div>

<div class="auth-container">
    <div class="tab-buttons">
      <button onclick="showForm('student')">Student</button>
      <button onclick="showForm('faculty')">Faculty</button>
    </div>

    <div id="student" class="form-section">
      <h2>Student Login</h2>
{% if messages %}
  <div class="message-container">
    {% for message in messages %}
      <p class="error-message">{{ message }}</p>
    {% endfor %}
  </div> 
{% endif %}
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="user_login">
        <input type="email" name="email" placeholder="College Email" required />
        <input type="password" name="password" placeholder="Password / OTP" required />
         <button type="submit">Login</button>
        <p class="switch-link" onclick="toggleForm('studentSignup')">New user? Sign up here</p>
      </form>
    </div>
      <form id="studentSignup" method="POST" action=" {% url 'student_reg' %} " class="hidden">
          {% csrf_token %}
           <input type="hidden" name="form_type" value="signup">
        <h2>Student Sign Up</h2>
        <input type="text" placeholder="Full Name" name="Full_Name" required />
        <input type="text" placeholder="Roll Number" name = "Roll_Number" required />
        <input type="email" placeholder="College Email"  name="College_Email" required />
        <input type="tel" placeholder="Contact Number" name="Contact_Number" required />
<!--        <input type="file" accept="image/*" />-->
        <input type="password" placeholder="Set Password" name="password" required />
        <button type="submit">Register</button>
        <p class="switch-link" onclick="showForm('student')">Already have an account? Login</p>
      </form>
    

    <div id="faculty"  class="form-section hidden">
      <h2>Faculty Login</h2>
      <form method="POST" action="{% url 'dash:admindash' %}">
        {% csrf_token %}
        <input type="email" placeholder="Faculty Email" required />
        <input type="password" placeholder="Password" required />
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
{% endblock %}