{% extends 'final/base_layout.html' %}

{% load static %}

{% block page_title %}welcome admin{% endblock %}


{% block extra_css_files %}
<link rel="stylesheet" href="{% static 'final/css/student_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'final/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'final/css/main_content.css' %}">
<link rel="stylesheet" href="{% static 'final/css/table.css' %}">
<link rel="stylesheet" href="{% static 'final/css/student_profile.css' %}">
{% endblock %}



{% block page_content%}
  <div class="dashboard-container">
    <aside class="sidebar">
      <h2>Admin Panel</h2>
      <ul>
          <li><a href="{% url 'final:admin_dashboard' %}">BACK TO DASHBOARD</a></li>
          <li><a href="{% url 'final:all_students' %}">All students</a></li>
          <li><a href="{% url 'final:approved' %}">Approved Requests</a></li>
          <li><a href="{% url 'final:inventory' %}">Inventory</a></li>
        <li><a href="{% url 'final:admin_logout' %}">Logout</a></li>
      </ul>
    </aside>

    <main class="main-content">

        <h1>Student Profile</h1>

        <header class="profile-card">

            <div class="info-row">
                <span class="info-label">Full Name</span>
                <span class="info-value">{{ student.std_full_name }}</span>
            </div>

            <div class="info-row">
                <span class="info-label">Phone:</span>
                <span class="info-value">{{ student.std_phone_number}}</span>
            </div>

            <div class="info-row">
                <span class="info-label">Email:</span>
                <span class="info-value">{{ student.std_college_email }}</span>
            </div>

            <div class="info-row">
                <span class="info-label">RTU Roll Number:</span>
                <span class="info-value">{{ student.std_roll_number }}</span>
            </div>

            <div class="info-row">
                <span class="info-label">Email:</span>
                <span class="info-value">{{ student.std_college_email }}</span>
            </div>

            <div class="info-row">
                <span class="info-label">Branch:</span>
                <span class="info-value">{{ student.std_branch }}</span>
            </div>
            <div class="info-row">
                <span class="info-label">Year:</span>
                <span class="info-value">{{ student.std_year }}</span>
            </div>
            <div class="info-row">
                <span class="info-label">Joined at: </span>
                <span class="info-value">{{ student.std_joined_at }}</span>
            </div>

            <div class="info-row">
                <span class="info-label">Deactivated at: </span>
                <span class="info-value">{{ student.std_deactivated_at }}</span>
            </div>

        </header>

        <h1>Components hISTORY</h1>
        <section>
            <div class="category-block">

                <table>
                    <thead>
                    <tr>
                        <th>Issue Date</th>
                        <th>Component</th>
                        <th>Category</th>
                        <th>Qty issued</th>
                        <th>Return Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for issue in issued_components %}
                    <tr>
                        <td>{{ issue.std_issue_issue_date|date:"d M Y" }}</td>
                        <td>{{ issue.component.comp_name }}</td>
                        <td>{{ issue.component.comp_category.comp_cate_category_name }}</td>
                        <td>{{ issue.std_issue_quantity_issued }}</td>
                        <td>
                            {{ issue.std_issue_return_date|default:"Not returned" }}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No components issued</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
  </div>
{% endblock %}