{% extends 'final/base_layout.html' %}

{% load static %}

{% block page_title %}welcome admin{% endblock %}


{% block extra_css_files %}
<link rel="stylesheet" href="{% static 'final/css/student_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'final/css/issued_items.css' %}">
{% endblock %}



{% block page_content%}
  <div class="dashboard-container">
    <aside class="sidebar">
      <h2>Admin Panel</h2>
      <ul>
          <li><a href="{% url 'final:admin_dashboard' %}">BACK TO DASHBOARD</a></li>
          <li><a href="{% url 'final:all_students' %}">All students</a></li>
          <li><a href="{% url 'final:approved' %}">Approved Requests</a></li>
          <li><a href="{% url 'final:inventory' %}">Inventory</a></li>
        <li><a href="{% url 'final:admin_logout' %}">Logout</a></li>
      </ul>
    </aside>

    <main class="main-content">
      <header>
        <h1>{{student.std_full_name}} AAL DETAILS </h1>
          <p><strong>Phone:</strong> {{ student.std_phone_number|default:"—" }}</p>
      </header>

        <h3>Components hISTORY</h3>
        <section>
                <div class="category-block">

        <table border="1" cellspacing="0" cellpadding="8" style="margin-top: 10px; width: 100%;">
 <thead>
    <tr>
      <th>Component</th>
      <th>Category</th>
      <th>Qty</th>
      <th>Issue Date</th>
      <th>Return Date</th>
    </tr>
  </thead>
  <tbody>
    {% for issue in issued_components %}
    <tr>
      <td>{{ issue.component.comp_name }}</td>
      <td>{{ issue.component.comp_category.comp_cate_category_name }}</td>
      <td>{{ issue.std_issue_quantity_issued }}</td>
      <td>{{ issue.std_issue_issue_date|date:"d M Y" }}</td>
      <td>
        {{ issue.std_issue_return_date|default:"Not returned" }}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No components issued</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
                </div>
        </section>
    </main>
  </div>
{% endblock %}