{% extends 'base_layout.html' %}
{% load static %}

{% block css_filename %}base/studentdashboard.css{% endblock %}

<!--added comment-->
{% comment "directly link to base layout not double linking"%}
{% block extra_css_files %}
  {{ block.super }} 
{% endblock %}
{% endcomment %}

<!--title  of webpage-->
{% block page_title %}Student dashboard{% endblock %}


{% block page_content%}
  <div class="dashboard-container">
    <aside class="sidebar">
      <h2>IoT Lab</h2>
      <ul>
<!--        <li><a href="#">Dashboard</a></li>-->
        <li><a href="{% url 'dash:student_issues' student.roll_number %}"> Issued Items</a></li>

        <li><a href="{% url 'dash:inventory_request' %}">Request Component</a></li>

<!--        <li><a href="#">My Projects</a></li>-->
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </aside>

    <main class="main-content">
      <header>
        <h1>Welcome, {{ student.full_name }}</h1>
        <p>Manage your issued components and projects.</p>
      </header>

      {% comment "directly link to base layout not double linking" %}
      {% block dashboard_content %}
        <!-- You can leave it empty or give default content -->
      {% endblock %}
      {% endcomment %}

    </main>
  </div>
{% endblock %}
